PORT=3000
MONGO_URI=mongodb+srv://igprasannayadav_db_user:fWc5VvRRc9ScGo5n@cluster.zuqc5bg.mongodb.net/documesh?retryWrites=true&w=majority
DATABASE_NAME=documesh
SEED_COUNT=10000
SEED_BATCH_SIZE=1000
MIGRATION_BATCH_SIZE=1000

